<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="felix.kawasakiapplication" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kawasaki_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name=".LoginScreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomerInfo"
            android:screenOrientation="portrait" >

            <!--   <intent-filter>
                   <action android:name="android.intent.action.MAIN" />

                   <category android:name="android.intent.category.LAUNCHER" />
               </intent-filter> -->
        </activity>
        <activity
            android:name=".ServiceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RequestScreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DriverDetails"
            android:screenOrientation="portrait" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity
            android:name=".SignatureMain"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FuelGauge"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ImageDraw"
            android:screenOrientation="portrait" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".BikeCheckList"
            android:screenOrientation="portrait" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ServiceAdvisor"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".EditDetails"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".FinalScreen"
            android:screenOrientation="portrait">

            <!-- <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter> -->
        </activity>
    </application>

</manifest>